samd51j19a_1/Debug/Config
samd51j19a_1/Debug/Device_Startup
samd51j19a_1/Debug/examples
samd51j19a_1/Debug/hal
samd51j19a_1/Debug/hpl
samd51j19a_1/Debug/hri
samd51j19a_1/Debug/atmel_start.d
samd51j19a_1/Debug/atmel_start.o
samd51j19a_1/Debug/driver_init.d
samd51j19a_1/Debug/driver_init.o
samd51j19a_1/Debug/main.d
samd51j19a_1/Debug/main.o
samd51j19a_1/Debug/samd51j19a_1.bin
samd51j19a_1/Debug/samd51j19a_1.eep
samd51j19a_1/Debug/samd51j19a_1.elf
samd51j19a_1/Debug/samd51j19a_1.hex
samd51j19a_1/Debug/samd51j19a_1.lss
samd51j19a_1/Debug/samd51j19a_1.map
samd51j19a_1/Debug/samd51j19a_1.srec
.vscode/.cortex-debug.registers.state.json
